.list {
    background-color: darkseagreen;
    text-align: center;
    margin: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}
.details {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    border: 1px solid red;
    padding: 2rem 3rem;
}
  
.image img {
   width: 30%;
   height: 50%;
   
}
  
.detail {
    padding: 1rem 2rem;
    background-color: tomato;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
  